In [1]:
#STRINGS
#-Formated Strings
#-Strip
#-Split
#-Replace
#-Count

In [8]:
name = "Aditya"
age = 21
year = 3

In [9]:
print("My name is "+name + ". I am " + str(age) + " years old. I am in "+ str(year) + " year. ")

My name is Aditya. I am 21 years old. I am in 3 year.

In [10]:
"hello" + str(4)

'hello4'

In [11]:
print("My name is %s. I am %d years old. I am in %d year."%(name, age, year))

My name is Aditya. I am 21 years old. I am in 3 year.

In [12]:
print("My name is {}. I am {} years old. I am in {} year.".format(name,age,year))

My name is Aditya. I am 21 years old. I am in 3 year.

In [14]:
print(f"My name is {name}. I am {age} years old. I am in {year} year.")

My name is Aditya. I am 21 years old. I am in 3 year.

In [15]:
st = " Good Morning. "

In [16]:
st.lstrip()

'Good Morning. '

In [17]:
st.strip()

'Good Morning.'

In [18]:
response = input("Enter yes or no")

Enter yes or noyes

In [19]:
response.strip()

'yes'

In [20]:
response.strip() == "yes"

True

In [21]:
st = "My name is Mohit"

In [22]:
st

'My name is Mohit'

In [23]:
st.split(" ")

['My', 'name', 'is', 'Mohit']

In [24]:
st = st.replace("Mohit", "Jatin")

In [25]:
st

'My name is Jatin'

In [26]:
st = "aaaaazzzz"

In [27]:
st.replace('a','b')

'bbbbbzzzz'

In [28]:
print(st)

aaaaazzzz

In [29]:
st.count('a')

5